$aside: #082032;

// text color
$asideText: #fff;
$asideTextAction: #fff;

// background
// $asideMenuBg: ;
// $asideMenuItemBg: ;
// $asideMenuItemBgAction: ;

$btnPrimary: #1d8acf;
$btnDanger: #ff5b5a;
$btnInfo: #ebf4fb;

$tableHdBg: #ebf4fb;
$tableHdText: #156aaa; 
