@import '../assets/icon/fontawesome-free-5.11.2-web/css/fontawesome.min.css';
@import '../assets/icon/fontawesome-free-5.11.2-web/css/brands.min.css';
@import '../assets/icon/fontawesome-free-5.11.2-web/css/solid.min.css';
@import './color.scss';

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 8px;
} 
::-webkit-scrollbar-track {
  // background-color: #ddd;
  // -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); 
} 
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  // -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); 
}



// 按钮中 icon 添加右边距
.el-button{
  .fas{
    margin-right: 3px;
    width: 15px;
  }
}
.el-button+.el-button {
  margin-left: 5px !important;
}
// 减少 mini 按钮两侧 padding 值
.el-button--mini, .el-button--mini.is-round{
  padding-left: 6px !important;
  padding-right: 6px !important;
}

// text 按钮样式
.el-button--text{
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.g-text-btn-primary{
  color: #006CE5 !important;
}
.g-text-btn-success{
  color: #40C063 !important;
}
.g-text-btn-danger{
  color: #EB4F2D !important;
}
.g-text-btn-warning{
  color: #ED9502 !important;
}
.g-text-btn-info{
  color: #C0C4CC !important;
}


// 大模块标题
.title-bar{
  height: 38px;
  line-height: 38px;
  // background: #f2f1ef;
  border-bottom: #f2f1ef 1px solid;
  margin-bottom: 10px;
  .title-bar-text{
    // padding-left: 10px;
    font-size: 18px;
    i{
      margin-right: 10px;
      color: #999481;
    }
  }
  .title-bar-tool{
    text-align: right;
    // padding-right: 10px;
  }
}

// 表格
.el-table td, .el-table th{
  padding: 2px 0px !important;
}
.el-table th{
  padding: 5px 0px !important;
  background-color: $tableHdBg !important;
  color: $tableHdText !important;
  font-size: 12px;
}
.el-table td{
  font-size: 12px !important;
}

.el-form-item{
  margin-bottom: 10px !important;
}

.g-bottom-10{
  margin-bottom: 10px;
}

// 弹窗样式修改
.el-dialog__header{
  padding: 0 20px !important;
  height: 40px;
  line-height: 40px;
  background: #ebf4fb !important;
  .el-dialog__title{
    color: #1669ab;
  }
  .el-dialog__headerbtn{
    top: 12px;
  }
}
.el-dialog__body{
  padding: 20px !important;
}

// highLight.js 高亮组件自定义样式
@font-face {
  font-family: 'Source Code Pro';
  src: url(../assets/fonts/Source_Code_Pro/SourceCodePro-Medium.ttf);
}
pre{
  margin: 0 !important;
  code{
    font-family: 'Source Code Pro' !important;
    line-height: 20px;
  }
}

.box{
  border: #ddd 1px solid;
  padding: 20px;
}
