@import '../assets/icon/fontawesome-free-5.11.2-web/css/fontawesome.min.css';
@import '../assets/icon/fontawesome-free-5.11.2-web/css/brands.min.css';
@import '../assets/icon/fontawesome-free-5.11.2-web/css/solid.min.css';

.el-button--primary {
  color: #FFF;
  background-color: #999481 !important;
  border-color: #999481 !important;
}

.el-button--danger {
  color: #FFF;
  background-color: #d05823 !important;
  border-color: #d05823 !important;
}